<h2>Demo 02 - Property Binding (Two-Way Binding)</h2>

<p>Ne pas oublier d'importer le FormsModule dans app.module.ts</p>

<h3>Chaine de caractères</h3>
<p>Valeur de maVariable1 : {{ maVariable1 }}</p>
<p><input type="text" [(ngModel)]="maVariable1" /></p>

<h3>Nombre</h3>
<p>Valeur de maVariable2 : {{ maVariable2 }}</p>
<p><input type="number" [(ngModel)]="maVariable2" /></p>

<h3>Boolean</h3>
<p>Valeur de maVariable3 : {{ maVariable3 }}</p>
<p><input type="checkbox" [(ngModel)]="maVariable3" /></p>
