<div class="calculatrice">
  <div class="number">
    <mat-form-field appearance="fill">
      <input matInput placeholder="0" required disabled [value]="screen" />
    </mat-form-field>

    <button
      mat-fab
      color="primary"
      *ngFor="let num of [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, '.', 'C']"
      (click)="addNumber(num)"
    >
      {{ num }}
    </button>
  </div>
  <div class="action">
    <button mat-fab (click)="addOperator('+')">+</button>
    <button mat-fab (click)="addOperator('-')">-</button>
    <button mat-fab (click)="addOperator('*')">x</button>
    <button mat-fab (click)="addOperator('/')">/</button>
    <button color="warn" mat-fab (click)="calculate()">=</button>
  </div>
</div>
